services:
  postgres:
    image: postgres:15-alpine  # Burayı değiştirdik (veya postgres:16-alpine)
    environment:
      - POSTGRES_PASSWORD=postgrespw
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: